[MESSAGES CONTROL]
disable=
    C0114, # (missing-module-docstring)
    C0115, # (missing-class-docstring)
    C0116, # (missing-function-docstring)
    R0902, # (too-many-instance-attributes)
    E0401, # (import-error)
    R0914, # (too-many-locals)
    R0912, # (too-many-branches)
    R0915, # (too-many-statements)
    C0411, # (wrong-import-order)
    C0301,  # (line-too-long)
    R0903, # (too-few-public-methods)
    W0613, # (unused-argument)
    C0103, # (invalid-name)
    W1514, # (unspecified-encoding)
    W1508, # (invalid-envvar-default)
    W0621, # (redefined-outer-name)
    W0718, # (broad-exception-caught)
    C0206, # (consider-using-dict-items)
    C0201, # (consider-iterating-dictionary)
    W3101, # (missing-timeout)
    W0102, # (dangerous-default-value)
    C0209, # (consider-using-f-string)
    W0201, # (attribute-defined-outside-init)
    C0415, # (import-outside-toplevel)
    C0200, # (consider-using-enumerate)
    W0108, # (unnecessary-lambda)
    E0606, # (possibly-used-before-assignment)
    E1101, # (no-member)
    C0412, # (ungrouped-imports)
    R0801, # (similar lines in 2 files)
    E0611, # (no-name-in-module)
