apiVersion: v1
kind: Service
metadata:
  labels:
    leodos.service: gateway
  name: gateway
spec:
  type: NodePort
  ports:
    - name: "8089"
      port: 8089
      targetPort: 8089
  selector:
    leodos.service: gateway
