apiVersion: v1
kind: Service
metadata:
  labels:
    leodos.service: orb2
  name: orb2
spec:
  ports:
    - name: "8081"
      port: 8081
      targetPort: 8081
    - name: "8082"
      port: 8082
      targetPort: 8082
  selector:
    leodos.service: orb2
